.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
INFORMEFINAL_sardinaaustralAysen.log
INFORME _FINAL.Rproj
GRAFICOSyTABLAS.pdf
# Referencias
Canales et al 2020.pdf
hordyk2014.pdf
hordyk2015.pdf
pedersen2016.pdf
rudd2017.pdf
#seguimiento
BIO_AUSTRAL_2005-2019.xlsx
BIT_AUSTRAL_2005_2019_ SEGUIMIENTO COMERCIAL.xlsx
DESEMBARQUE.xlsx
ESTRUCTURA_SPRATTUS_LOS LAGOS_2005-2019.xlsx
Estructuras Los LAGOS _2005-2019 ( INCLUYE PONDERACION VERIFICACION).xlsx
ESTRUCTURAS_SPRATTUS_AYSEN_20015-2019.xlsx
# BD-CALBUCO 2017-2019(Karen)
BIT.xlsx
M BIO.xlsx
M LON.xlsx
# INFORMES SEGUIMIENTO PPCS
1_Informe Final Corregido PCS 2018 - (2019-11-21).pdf
1. Informe Final Seguim.PCS, 2012.pdf
2. Informe Final Seguim.PCS, 2013 (Corregido).pdf
3. Informe Final Seguim. PCS, 2014 (1er Corregido).pdf
4. Informe Final Seguim.PCS, 2015 (15_jun_2015).pdf
5. Informe Final Seguim.PCS, 2016.pdf
6. Informe Final Seguim.PCS, 2017 (Mod 27_08).pdf
7. Informe Final Seguim.PCS, 2018  (2019-11-21).pdf
8. Informe Final Seguim.PCS, 2019 (26_jun_2020).pdf
Informe Final PCS 2019 (26_jun_2020).pdf
Informe Final Seguim.PCS, 2017 (Mod 27_08).pdf
# Cruceros
# 2015
Informe Final_Eval Hidro_pequeños pelágicos_ X y XI regiones, año 2015.pdf
Informe Final_Eval Hidro_pequeños pelágicos_ X y XI regiones, año 2015.doc
# 2016
BaseDatos Pelaguin 2016 (2).7z
BaseDatos Pelaguin 2016 (2).accdb
PREFINAL_Eval Hidro_pequeños pelágicos_ X y XI regiones, año 2016_enero_2017.docx
PREFINAL_Eval Hidro_pequeños pelágicos_ X y XI regiones, año 2016_enero_2017.pdf
# 2017
1_Informe final Pelaguin 2017- Revisión JLD (2).pdf
2_F I G U R A S.pdf
3_Tablas.pdf
Respuesta a observaciones del evaluador.pdf
Respuesta a observaciones del evaluador.docx
1_Informe final Pelaguin 2017- Revisión JLD (2).docx
2_F I G U R A S.docx
3_Tablas.docx
Respuesta a observaciones del evaluador.docx
# 2018
_Inf.FINAl Pelaguin X y XI R.,2018vfcORREGIDO.pdf
_Inf.FINAl Pelaguin X y XI R.,2018vfcORREGIDO.docx
Acustica2018.xlsx
Biologico2018.xlsx
Calibracion2018.xlsx
Contenidos Gastricos2018.xlsx
Descriptor.xlsx
Indice.xlsx
lances2018.xlsx
Oceanografia2018.xlsx
Zooplancton2018.xlsx
# 2019
Inf.FINAl Pelaguin 1904 v2.2.docx
Inf.FINAl Pelaguin 1904 v2.2.pdf
RESPSTA OBSRVCNES EVALDOR EXTRNO.pdf
0 Descriptor_2019.xlsx
1 Acustica_2019.xls
2 Biologico2019.xlsx
3 Calibracion_ecosondas_2019.xlsx
4 Contenidos_gastricos_2019.xlsx
5 Oceanografia_2019 Repa.xlsx
6 lances2019.xlsx
7 zooplancton_2019.xlsx
Indice_2019.xlsx
# 2020
_InfAvanc_Pelaguin 20-04.docx
_InfAvanc_Pelaguin 20-04.pdf
Inf.FINAl Pelaguin 2004XPB.pdf
AGUAS INTERIORES PPELÁGICOS 2014-2020.accdb
AGUAS INTERIORES PPELÁGICOS 2014-2020.xls
# Estatus y CBA
#2010
INF FINAL CTP_SAR AUST 2010.pdf
PRE FINAL_CTP_SAR AUST_2010.pdf
#2011
#2012
#2013
#2014
#2015
#2016
#2017
#2018
#2019
#2020
surplus production model-SardAustralAysén.xlsx
FigyTab_INFORMEFINAL.pdf
INFORME_FINAL.Rproj
~$surplus production model-SardAustralAysén.xlsx
