CPUE.txt
Estatus_Segundo Informe_Sardina austral-Editad_corregido, 2012.doc
Estatus_Segundo Informe_Sardina austral-Editad_corregido, 2012.pdf
controles.txt
datos.xls
estimación CBA.txt
modelo.txt
proyecciones.txt
