Leal_datos.csv
SALIDAS_Saustral.R
admodel.cov
admodel.dep
admodel.hes
eigv.rpt
fmin.log
model_Saustral.cpp
model_Saustral.ctl
model_Saustral.dat
model_Saustral.exe
model_Saustral.htp
model_Saustral.obj
model_Saustral.pin
model_Saustral.tpl
model_saustral.b01
model_saustral.b02
model_saustral.b03
model_saustral.bar
model_saustral.cor
model_saustral.eva
model_saustral.log
model_saustral.p01
model_saustral.p02
model_saustral.p03
model_saustral.par
model_saustral.r01
model_saustral.r02
model_saustral.r03
model_saustral.rep
model_saustral.std
read.report.R
variance
